obj/
runs/
*.swp
*example/*
int-tests/*/div1d_outpu*.txt
int-tests/*/nohup.out
int-tests/*/*restart*
int-tests/*/summary.txt
int-tests/*/div1d_output.mat

echo_div1d_input.txt
div1d_output*.txt
*.avi
output*.txt
*.so
*.mat
*fort.11
*.exe
*.out
*.asv

*.nfs*
libdiv1d/*.so

definelibdiv1d.mlx
definelibdiv1d.m
libdiv1dData.xml

test/build/*
!test/inputs/*
!test/inputs/**/*
test/inputs/**/nohup.out

